.navbar {
    background-color: rgb(45, 133, 133);
}

.navbar-brand {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1.6rem;
}

.nav-link {
    color: white;
}

.navbar-toggler-icon {
    color: black;
}