.list-group {
    margin-right: 2%;
    margin-left: 2%;
}

.list-group-item {
    margin-bottom: 20px;
    border: 1px solid black;
}

.list-group-item+.list-group-item {
    border-top-width: 1px;
}